body {
	margin: 0;
	width: 100%;
	font-size: 1em;
	background-color: rgb(245, 245, 245);
}

.clear {
	clear: both;
}
.center{
	text-align:center;
}
.no-style {
	margin:0;
	padding-left: 0;
	list-style: none;
}
.box {
	width: 100%;
	margin: 0 0;
	text-align: center;
}
.tab-pane{
	width:80%;
	margin:0 auto;
	text-align:center;
}
.pull-right{
	float:right;
}
.pull-left{
	float:left;
}
.bg-white {
	background-color: white;
}
.bg-blue {
	background-color: rgb(99, 183, 255);
}
.bg-gray{
	background-color: rgb(248,248,248);
}
.font-white {
	font-size: 1.2em;
	color: white;
}
.pd-1{
	padding:1em;
}
.pd-15{
	padding:15px;
}
.pd-25{
	padding:25px
}
.mg-top-15{
	margin-top:15px;
}
.mg-top-20{
	margin-top:20px;
}
.mg-top-36{
	margin-top:36px;
}
.mg-top-46{
	margin-top:46px;
}
.mg-top-76{
	margin-top:76px;
}
.mg-top-150{
	margin-top:150px;
}
.mg-top-200{
	margin-top:200px;
}
.mg-top-250{
	margin-top:250px;
}
.table{
	display:table;
}
.table-row{
	display:table-row;
}
.table-cell{
	display:table-cell;
}