body{
	margin:0px;
	background-color:rgb(240,240,242);
}
.title{
	margin-top:-42px;
	text-align:center;
	color:white;
}
header{
	height:66px;
	background-color:rgb(22,140,241);
}

.carttext{
	padding-top:10px;
	width:100%;
	color:rgb(87,90,91);
	text-align:center;
}
.carttext1{
	width:100%;
	
	text-align:center;
}
.goshopping{
	padding-top:20px;
	text-align:center;
	
}
.btn-go{
	width:100px;
	height:40px;
	border:1px solid rgb(199,199,199);
	background-color:rgb(233,233,233);
	border-radius: 10px;
}