body{
	background-color:white;
	font-size:1.2em;
	font-family:"mircosoft yahei";
}
#back{
	position: absolute;
    left: 10px;
    top: 10px;
    width: 50px;
    z-index: 1;
}

#shopping{
	position: absolute;
    right: 10px;
    top: 10px;
    width: 50px;
    z-index: 1;
}
#myCarousel img{
	height:60%;
}
#share{
	height:50px;
	float:right;
	padding:10px;
	border-left: 1px dotted #D4DCE2;
}
#share img{
	height:30px;
}
#title{
	margin-top:10px;
	height:50px;
}
#title label{
	margin-top:15px;
}
#price{
	font-size:2em;
	color:red;
}
#price-false{
	margin-left:20px;
	color: gray;
    text-decoration: line-through;
}
#collection{
	margin-left:20px;
}
#free-label{
	background-color:rgb(255,84,4);
	padding:.2em .6em .3em;
	font-weight:bold;
	color:white;
}
#service{
	text-align:center;
	height:50px;
	line-height:50px;
	font-size:14px;
}
#service img{
	height:14px;
}
#service img:last-child{
	margin-left:20px;
}
.product-bg-gray{
	height: 20px;
	background-color:rgb(240,240,240);
}
#size{
	height:50px;
	line-height:50px;
}
.pd-em{
	padding:1em 0em;
}
#comment-label span{
	margin-left:20px;
	padding:.6em 2em .6em;
	background-color:rgb(215,237,255);
	color:rgb(109,180,250);
}

.comment-item img{
	height:24px;
}
.center{
	margin-bottom:20px;
}
#comment-all{
	padding: .6em;
    border: 1px solid rgb(109,180,250);
    border-radius: .4em;
	color:rgb(109,180,250);
}
#recommend{
	text-align:center;
}
#recommend img{
	width:30%;
}
#recommend img:first-child{
	margin-right:10px;
}
#recommend img:last-child{
	margin-left:10px;
}
.bottom-table{
	display: table; 
	position:fixed;
	bottom:0px;
	width:100%;
	background-color:white;
}
.bottom-row{
	display: table-row; 

}
.bottom-table img{
	width:30px;
}
.bottom-item{
	display:table-cell;
	width:13%;
}
#bottom-cart{
	display:table-cell;
	width:30%;
	background-color:rgb(188,225,255);
	color:rgb(109,180,250);
	font-size:1.2em;

}
#bottom-pay{
	display:table-cell;
	width:30%;
	background-color:rgb(255,84,4);
	color:white;
	font-size:1.2em;
}
#bottom-cart,
#bottom-pay,
.bottom-item{
	text-align:center;
	vertical-align: middle;
}